<div class="login-container">
    <div class="background"></div>
    <mat-card>
        <div class='card-header'>
            reset your password
        </div>
        <mat-card-content>
            <form [formGroup]='resetForm' (ngSubmit)="onReset()">
                <div fxLayout="row wrap">
                    <mat-form-field fxFlexFill>
                        <input matInput formControlName="email" type="email" placeholder="Your login email">
                    </mat-form-field>
                    <div fxFlexFill>
                        <button type="submit" mat-raised-button color="primary" [disabled]="isClicked">reset</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>