<div class="login-container">
    <div>
       <h4>Reset your password</h4>
    </div>
    <form [formGroup]='resetForm' (ngSubmit)="onReset()">
        <div fxLayout="row wrap">
            <mat-form-field fxFlexFill>
                <input matInput formControlName="currentPassword" type="password" placeholder="Current Password">
                <mat-error *ngIf="f['currentPassword'].errors?.required">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlexFill>
                <input matInput formControlName="newPassword" type="password" placeholder="New Password">
                <mat-error *ngIf="f['newPassword'].errors?.required">Password is required</mat-error>
                <mat-error *ngIf="f['newPassword'].errors?.minlength">Password must be at least 8 characters</mat-error>
                <mat-error *ngIf="f['newPassword'].errors?.pattern">Password have at least one alpha character and one numbers</mat-error>
            </mat-form-field>
            <mat-form-field fxFlexFill>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                <mat-error *ngIf="f['confirmPassword'].errors?.required">Password is required</mat-error>
                <mat-error *ngIf="f['confirmPassword'].errors?.mustMatch">Passwords must match</mat-error>
            </mat-form-field>
            <div fxFlexFill>
                <button type="submit" mat-raised-button color="accent">reset password</button>
                <button  mat-raised-button (click)='closeDialog()'>Cancel</button>
            </div>
            
        </div>
    </form>
</div>